@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root{
    --main-color: #4a2c2aff;
    --secondary-color: #bf4e30ff;
    --accent-color: #eca400ff;
    --light-color: #f2efeaff;
    --dark-color: #333333ff;

    --spacing:1em;
    --padding: 0.5em;

    --media-max-width: 800px;

    --top-link-size: 45px;
}

html{
    font-size: 16px;
    transition: font-size 300ms;
}

body{
    background-color: var(--light-color);
    color: var(--dark-color);

    font-family: 'Comfortaa', sans-serif;
}

header{
    background-color: var(--main-color);
    color: var(--light-color);
    box-shadow: 0px 0px 20px var(--dark-color);

    padding: 0px;
}

main {
    padding-left: var(--spacing);
    padding-right: var(--spacing);
}

footer{
    background-color: var(--main-color);
    color: var(--light-color);

    padding: var(--padding);
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing);

    grid-template-areas: 
        "prezentare-site prezentare-site prezentare-site prezentare-site"
        "prezentare-site prezentare-site prezentare-site prezentare-site"
        "tabel tabel continut-divers continut-divers"
        "calendar date-utilizatori continut-divers continut-divers"
        "lista-utilizatori date-utilizatori continut-divers continut-divers"
        "lista-utilizatori anunturi anunturi date-site";
}
    
#grid-container > div{
    border : 5px solid var(--secondary-color);
    padding: var(--padding); 
}

#prezentare-site{
    grid-area: prezentare-site;
}

#tabel{
    grid-area: tabel;
}

#calendar{
    grid-area: calendar;
}

#date-utilizatori{
    grid-area: date-utilizatori;
}

#lista-utilizatori{
    grid-area: lista-utilizatori;
}

#anunturi{
    grid-area: anunturi;
}

#continut-divers{
    grid-area: continut-divers;
}

#date-site{
    grid-area: date-site;
}

h1{
    padding: var(--padding);
}

img{
    width: 100%;
    max-width: var(--media-max-width);
}

iframe{
    max-width: var(--media-max-width);
}

table{
    width: 100%;
    margin: auto;
    text-align: left;

    border-collapse: collapse;
    border: 5px inset;   
}

table caption{
    caption-side: bottom;
    padding: var(--padding);
}


tr:nth-child(odd) td{
    border-bottom: 1px solid var(--main-color);
}

tr:nth-child(even) td{
    border-bottom: 1px solid var(--accent-color);
}

tfoot tr td{
    border-bottom: 1px solid var(--accent-color) !important;
}

tr {
    transition: outline 0.5s ease-in-out;
}

tr:hover {
    outline: 5px solid rgba(191, 78, 48, 0.7);
}

#link-top {
    width: var(--top-link-size);
    height: var(--top-link-size);

    position: fixed;
    bottom: 1em;
    right: 1em;

    background-color: var(--light-color);
    border: solid var(--accent-color);
    transform: rotate(45deg); 

    text-align: center;
    justify-content: center;

    opacity: 75%;
    transition: all 500ms;
}

#triunghi {
    transform: rotate(-45deg); 
    
    width: 0;
    height: 0;
    
    border-style: solid;
    border-width: 0px 20px 40px 20px;
    
    border-radius: 20px;
    border-color: transparent transparent var(--main-color) transparent;
    
    transition: all 500ms;
}

#link-top:hover{
    opacity:100%;
    border-color:var(--main-color);
    background-color: var(--accent-color);
}

#link-top:hover #triunghi{
    border-color: transparent transparent var(--light-color) transparent;
}

iframe {
    border: solid 10px;
    border-color: var(--main-color) var(--main-color) var(--accent-color) var(--accent-color);
}

#video{
    display: flex;
    flex-direction: row;
}

#video a {
    text-decoration: none;
    color: var(--main-color);
    background-color: var(--accent-color);
    font-weight: bold;

    border: double;
    border-left: none;
    border-radius: 0px 10px 10px 0px;

    padding: 10px;
    margin: 0px;

    transition: all 750ms;
    width: 100px;
    text-align: center;
}

#video-selector a:hover {
    padding-left: 30px;
    filter: brightness(1.1);
}

#video-selector{
    display: flex;
    flex-direction: column;
}