<footer>
    <div id="link-top">
        <a href="#top" title="Revino la inceputul paginii">
            <div id="triunghi"></div>
        </a>
    </div>
    <p id="banner">Acesta este un proiect școlar!</p>
    <p><a href="#top">Mergi la inceputul paginii</a></p>
    <p><a href="resources/docs/Etapa_0.pdf" download="">Descarca etapa 0</a></p>

    <p>Contacteaza-ne telefonic: <a href="tel:+4012345678">+4012345678</a></p>

    <p><a href="https://maps.app.goo.gl/fTgG45szcea8Fk3q6" target="_blank">Adresa magazinului</a></p>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.884114398511!2d26.097011776666736!3d44.435539301480986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1741194032817!5m2!1sen!2sro"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    <p>Contacteaza-ne printr-un mail: <a href="mailto:pragma.contact@gmail.com">pragma.contact@gmail.com</a></p>
    <p><a href="https://wa.me/40123456789">Scrie-ne pe WhatsApp</a></p>

    <small>&#169; Magazin de marochinarie <time datetime="2025-03-05">2025</time></small>
</footer>