<header id="top">
        <h1>Pragmatica</h1>
        <nav>
            <label id="hamburger" for="ch-menu">
                <img src="resources/images/hamburger-icon.png" alt="menu">
            </label>
            <input id="ch-menu" type="checkbox">
            
            <ul id="menu">
                <li><a href="/index"><i class="fa-solid fa-house"></i> <span id="acasa">Acasa</span></a>
                    <ul class = "submenu">
                        <li><a href="#cine-suntem">Cine suntem</a></li>
                        <li><a href="#scop">Scopul nostru</a></li>
                        <li><a href="#testimoniale">Testimoniale</a></li>
                        <li><a href="#best-sellers">Produse populare</a></li>
                        <li><a href="#intrebari-frecvente">Intrebari frecvente</a></li>
                    </ul>
                </li>
                <li> <a href="">Galerii</a>
                    <ul class = "submenu">
                        <li>
                            <a href="/galerie_statica">Galerie statică</a>
                        </li>
                        <li>
                            <a href="/galerie_dinamica">Galerie dinamică</a>
                            </li>
                    </ul>
                </li>
                <li><a href="/ghiozdane_si_genti">Ghiozdane și genți</a></li>
                <li><a href="/acesorii">Accesorii</a></li>
                <li><a href="/povestea_noastra">Povestea noastra</a></li>
            </ul>
        </nav>
    </header>